body {
    font-family: 'Amatic SC', cursive;
}

section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.july {
    background-color: #1c1d25;
    height: 100vh;
    color: wheat;
    font-size: 40px;
}

.logo {
    height: 150px;
    margin-left: 20px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.july-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.july-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.socials {
    padding-bottom: 200px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 7px;
    margin-top: 20px;
}

.button:hover {
    background-color: #F79489;
}

.button:active {
    background-color: #FADCD9;
    color: #F8AFA6;
}